body.smallest {
    --application-text-size-16: 14px;
    --application-text-size-14: 12px;
    --application-text-size-12: 10px;
    --application-item-padding: 4px;
    --application-pane-padding: 8px;

    --search-fixed-height: 350px;
    --modal-fixed-height: 300px;
    --modal-item-padding: 8px;

    --input-h-padding: 7px;
    --input-v-padding: 4px;

    --button-border-radius: 5px;
    --button-h-padding: 10px;
    --button-v-padding: 4px;

    --error-border-radius: 5px;
    --error-padding: 8px;
    --error-flash-padding: 2px;
    --error-button-text-size: 10px;

    --header-height: 36px;
    --menu-pane-width: 241px;
    --info-pane-width: 241px;
    --pane-action-button-height: 36px;
    --pane-item-name-height: 28px;

    --icon-width: 28px;
    --icon-height: 28px;
    --big-icon-width: 56px;
    --big-icon-height: 56px;
    --room-icon-border-radius: 8px;

    --badge-top: -1px;
    --badge-left: 16px;
    --badge-width: 15px;
    --badge-height: 15px;
    --badge-text-size: 9px;
    --badge-text-top: 2px;
    --badge-text-left: 5px;

    --room-indicator-top: 16px;
    --room-indocator-left: 15px;
    --room-indicator-width: 15px;
    --room-indicator-height: 14px;
    --room-indocator-border-radius: 5px;

    --emoji-search-picker-top: 5px;
    --emoji-search-container: 250px;
    --emoji-search-container-margin: 5px;
    --emoji-search-contents: 188px;
    --emoji-search-padding: 2px;

    --attachment-picker-top: 3.5px;
    --attachment-picker-padding: 8px;
    --attachment-picker-item-height: 100px;
    --attachment-picker-alt-text-left: 4px;
    --attachment-picker-alt-text-bottom: 4px;
    --attachment-picker-alt-text-image-size: 300px;
    --attachment-picker-visible-left: 35px;
    --attachment-picker-visible-bottom: 4px;
    --attachment-picker-visible-top: -2.5px;

    --message-visible-top: 3.5px;
    --message-sensitive-top: 3.5px;

    --nav-button-width: 32px;
    --nav-button-height: 32px;
    --nav-button-top-margin: 2px;
    --nav-button-bottom-margin: -2px;

    --conversation-panel-height: 34px;
    --conversation-topic-max-height: 26px;
    --conversation-newmessage-icon-padding: 56px;
    --conversation-newmessage-indicator-top: -35px;
    --conversation-newmessage-indicator-width: 110px;
    --conversation-newmessage-indicator-border-radius: 10px;

    --message-load-more-height: 15px;
    --message-timestamp-padding: 4px;
    --message-attachment-padding: 5px;
    --message-combined-left-margin: 33px;
    --message-combined-text-top-margin: -7px;
    --message-combined-attachment-top-margin: 2px;
    --message-highlighted-h-padding: 5px;
    --message-highlighted-v-padding: 2px;
}

body.smaller {
    --application-text-size-16: 15px;
    --application-text-size-14: 13px;
    --application-text-size-12: 11px;
    --application-item-padding: 5px;
    --application-pane-padding: 9px;

    --search-fixed-height: 350px;
    --modal-fixed-height: 300px;
    --modal-item-padding: 9px;

    --input-h-padding: 7px;
    --input-v-padding: 4px;

    --button-border-radius: 5px;
    --button-h-padding: 10px;
    --button-v-padding: 4px;

    --error-border-radius: 5px;
    --error-padding: 9px;
    --error-flash-padding: 2px;
    --error-button-text-size: 10px;

    --header-height: 38px;
    --menu-pane-width: 255px;
    --info-pane-width: 255px;
    --pane-action-button-height: 38px;
    --pane-item-name-height: 30px;

    --icon-width: 32px;
    --icon-height: 32px;
    --big-icon-width: 64px;
    --big-icon-height: 64px;
    --room-icon-border-radius: 9px;

    --badge-top: -1px;
    --badge-left: 20px;
    --badge-width: 16px;
    --badge-height: 16px;
    --badge-text-size: 10px;
    --badge-text-top: 2px;
    --badge-text-left: 5px;

    --room-indicator-top: 20px;
    --room-indocator-left: 19px;
    --room-indicator-width: 15px;
    --room-indicator-height: 14px;
    --room-indocator-border-radius: 5px;

    --emoji-search-picker-top: 5px;
    --emoji-search-container: 250px;
    --emoji-search-container-margin: 5px;
    --emoji-search-contents: 186px;
    --emoji-search-padding: 2px;

    --attachment-picker-top: 3.5px;
    --attachment-picker-padding: 9px;
    --attachment-picker-item-height: 115px;
    --attachment-picker-alt-text-left: 4px;
    --attachment-picker-alt-text-bottom: 4px;
    --attachment-picker-alt-text-image-size: 325px;
    --attachment-picker-visible-left: 38px;
    --attachment-picker-visible-bottom: 4px;
    --attachment-picker-visible-top: -2.5px;

    --message-visible-top: 3.5px;
    --message-sensitive-top: 3.5px;

    --nav-button-width: 32px;
    --nav-button-height: 32px;
    --nav-button-top-margin: 2px;
    --nav-button-bottom-margin: -2px;

    --conversation-panel-height: 36px;
    --conversation-topic-max-height: 26px;
    --conversation-newmessage-icon-padding: 60px;
    --conversation-newmessage-indicator-top: -35px;
    --conversation-newmessage-indicator-width: 117px;
    --conversation-newmessage-indicator-border-radius: 10px;

    --message-load-more-height: 15px;
    --message-timestamp-padding: 4px;
    --message-attachment-padding: 5px;
    --message-combined-left-margin: 37px;
    --message-combined-text-top-margin: -7px;
    --message-combined-attachment-top-margin: 2px;
    --message-highlighted-h-padding: 5px;
    --message-highlighted-v-padding: 2px;
}

body:not(.smallest):not(.smaller):not(.larger):not(.largest) {
    --application-text-size-16: 16px;
    --application-text-size-14: 14px;
    --application-text-size-12: 12px;
    --application-item-padding: 5px;
    --application-pane-padding: 10px;

    --search-fixed-height: 350px;
    --modal-fixed-height: 300px;
    --modal-item-padding: 10px;

    --input-h-padding: 7px;
    --input-v-padding: 4px;

    --button-border-radius: 5px;
    --button-h-padding: 10px;
    --button-v-padding: 4px;

    --error-border-radius: 5px;
    --error-padding: 10px;
    --error-flash-padding: 2px;
    --error-button-text-size: 10px;

    --header-height: 40px;
    --menu-pane-width: 270px;
    --info-pane-width: 270px;
    --pane-action-button-height: 40px;
    --pane-item-name-height: 36px;

    --icon-width: 36px;
    --icon-height: 36px;
    --big-icon-width: 72px;
    --big-icon-height: 72px;
    --room-icon-border-radius: 10px;

    --badge-top: -1px;
    --badge-left: 22px;
    --badge-width: 16px;
    --badge-height: 16px;
    --badge-text-size: 10px;
    --badge-text-top: 2px;
    --badge-text-left: 5px;

    --room-indicator-top: 22px;
    --room-indocator-left: 21px;
    --room-indicator-width: 16px;
    --room-indicator-height: 16px;
    --room-indocator-border-radius: 5px;

    --emoji-search-picker-top: 5px;
    --emoji-search-container: 250px;
    --emoji-search-container-margin: 5px;
    --emoji-search-contents: 184px;
    --emoji-search-padding: 2px;

    --attachment-picker-top: 3.5px;
    --attachment-picker-padding: 10px;
    --attachment-picker-item-height: 130px;
    --attachment-picker-alt-text-left: 4px;
    --attachment-picker-alt-text-bottom: 4px;
    --attachment-picker-alt-text-image-size: 350px;
    --attachment-picker-visible-left: 40px;
    --attachment-picker-visible-bottom: 4px;
    --attachment-picker-visible-top: -2.5px;

    --message-visible-top: 3.5px;
    --message-sensitive-top: 3.5px;

    --nav-button-width: 36px;
    --nav-button-height: 36px;
    --nav-button-top-margin: 2px;
    --nav-button-bottom-margin: -2px;

    --conversation-panel-height: 38px;
    --conversation-topic-max-height: 28px;
    --conversation-newmessage-icon-padding: 63px;
    --conversation-newmessage-indicator-top: -35px;
    --conversation-newmessage-indicator-width: 125px;
    --conversation-newmessage-indicator-border-radius: 10px;

    --message-load-more-height: 15px;
    --message-timestamp-padding: 4px;
    --message-attachment-padding: 5px;
    --message-combined-left-margin: 41px;
    --message-combined-text-top-margin: -7px;
    --message-combined-attachment-top-margin: 2px;
    --message-highlighted-h-padding: 5px;
    --message-highlighted-v-padding: 2px;
}

body.larger {
    --application-text-size-16: 18px;
    --application-text-size-14: 16px;
    --application-text-size-12: 14px;
    --application-item-padding: 5px;
    --application-pane-padding: 10px;

    --search-fixed-height: 375px;
    --modal-fixed-height: 325px;
    --modal-item-padding: 10px;

    --input-h-padding: 7px;
    --input-v-padding: 4px;

    --button-border-radius: 5px;
    --button-h-padding: 10px;
    --button-v-padding: 4px;

    --error-border-radius: 5px;
    --error-padding: 10px;
    --error-flash-padding: 2px;
    --error-button-text-size: 10px;

    --header-height: 44px;
    --menu-pane-width: 295px;
    --info-pane-width: 295px;
    --pane-action-button-height: 46px;
    --pane-item-name-height: 40px;

    --icon-width: 40px;
    --icon-height: 40px;
    --big-icon-width: 80px;
    --big-icon-height: 80px;
    --room-icon-border-radius: 12px;

    --badge-top: -1px;
    --badge-left: 25px;
    --badge-width: 18px;
    --badge-height: 18px;
    --badge-text-size: 10px;
    --badge-text-top: 3px;
    --badge-text-left: 6px;

    --room-indicator-top: 25px;
    --room-indocator-left: 24px;
    --room-indicator-width: 18px;
    --room-indicator-height: 18px;
    --room-indocator-border-radius: 5px;

    --emoji-search-picker-top: 5.25px;
    --emoji-search-container: 250px;
    --emoji-search-container-margin: 5px;
    --emoji-search-contents: 180px;;
    --emoji-search-padding: 2px;

    --attachment-picker-top: 3.5px;
    --attachment-picker-padding: 10px;
    --attachment-picker-item-height: 145px;
    --attachment-picker-alt-text-left: 4px;
    --attachment-picker-alt-text-bottom: 4px;
    --attachment-picker-alt-text-image-size: 375px;
    --attachment-picker-visible-left: 44px;
    --attachment-picker-visible-bottom: 4px;
    --attachment-picker-visible-top: -2.5px;

    --message-visible-top: 3.5px;
    --message-sensitive-top: 3.5px;

    --nav-button-width: 40px;
    --nav-button-height: 40px;
    --nav-button-top-margin: 2px;
    --nav-button-bottom-margin: -2px;

    --conversation-panel-height: 42px;
    --conversation-topic-max-height: 34px;
    --conversation-newmessage-icon-padding: 70px;
    --conversation-newmessage-indicator-top: -35px;
    --conversation-newmessage-indicator-width: 135px;
    --conversation-newmessage-indicator-border-radius: 10px;

    --message-load-more-height: 15px;
    --message-timestamp-padding: 4px;
    --message-attachment-padding: 5px;
    --message-combined-left-margin: 45px;
    --message-combined-text-top-margin: -7px;
    --message-combined-attachment-top-margin: 2px;
    --message-highlighted-h-padding: 5px;
    --message-highlighted-v-padding: 2px;
}

body.largest {
    --application-text-size-16: 20px;
    --application-text-size-14: 18px;
    --application-text-size-12: 16px;
    --application-item-padding: 5px;
    --application-pane-padding: 10px;

    --search-fixed-height: 400px;
    --modal-fixed-height: 350px;
    --modal-item-padding: 10px;

    --input-h-padding: 7px;
    --input-v-padding: 4px;

    --button-border-radius: 5px;
    --button-h-padding: 10px;
    --button-v-padding: 4px;

    --error-border-radius: 5px;
    --error-padding: 10px;
    --error-flash-padding: 2px;
    --error-button-text-size: 10px;

    --header-height: 48px;
    --menu-pane-width: 320px;
    --info-pane-width: 320px;
    --pane-action-button-height: 54px;
    --pane-item-name-height: 44px;

    --icon-width: 44px;
    --icon-height: 44px;
    --big-icon-width: 88px;
    --big-icon-height: 88px;
    --room-icon-border-radius: 12px;

    --badge-top: -1px;
    --badge-left: 28px;
    --badge-width: 18px;
    --badge-height: 18px;
    --badge-text-size: 10px;
    --badge-text-top: 3px;
    --badge-text-left: 6px;

    --room-indicator-top: 28px;
    --room-indocator-left: 27px;
    --room-indicator-width: 18px;
    --room-indicator-height: 18px;
    --room-indocator-border-radius: 5px;

    --emoji-search-picker-top: 5.25px;
    --emoji-search-container: 250px;
    --emoji-search-container-margin: 5px;
    --emoji-search-contents: 174px;
    --emoji-search-padding: 2px;

    --attachment-picker-top: 3.5px;
    --attachment-picker-padding: 10px;
    --attachment-picker-item-height: 160px;
    --attachment-picker-alt-text-left: 4px;
    --attachment-picker-alt-text-bottom: 4px;
    --attachment-picker-alt-text-image-size: 400px;
    --attachment-picker-visible-left: 48px;
    --attachment-picker-visible-bottom: 4px;
    --attachment-picker-visible-top: -2.5px;

    --message-visible-top: 3.5px;
    --message-sensitive-top: 3.5px;

    --nav-button-width: 44px;
    --nav-button-height: 44px;
    --nav-button-top-margin: 2px;
    --nav-button-bottom-margin: -2px;

    --conversation-panel-height: 46px;
    --conversation-topic-max-height: 40px;
    --conversation-newmessage-icon-padding: 77px;
    --conversation-newmessage-indicator-top: -35px;
    --conversation-newmessage-indicator-width: 150px;
    --conversation-newmessage-indicator-border-radius: 10px;

    --message-load-more-height: 15px;
    --message-timestamp-padding: 4px;
    --message-attachment-padding: 5px;
    --message-combined-left-margin: 49px;
    --message-combined-text-top-margin: -7px;
    --message-combined-attachment-top-margin: 2px;
    --message-highlighted-h-padding: 5px;
    --message-highlighted-v-padding: 2px;
}


html, body {
    font-family: "Atkinson Hyperlegible", Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100dvw;
    height: 100dvh;
    background: var(--application-background);
    color: var(--application-text);
    font-size: var(--application-text-size-16);
    overflow: hidden;
}

div.container {
    display: flex;
    width: 100%;
    height: 100%;
}

div.preload {
    display: none;
}

input:not([type=file]):not([type=button]) {
    color: var(--input-text);
    font-size: var(--application-text-size-14);
    background: var(--input-background);
    border: 1px solid var(--input-border);
    border-radius: var(--input-border-radius);
    padding-top: var(--input-v-padding);
    padding-bottom: var(--input-v-padding);
    padding-left: var(--input-h-padding);
    padding-right: var(--input-h-padding);
}

button, input[type=button], input::file-selector-button {
    color: var(--input-button-text);
    font-size: var(--application-text-size-16);
    background: var(--input-button-background);
    border: 1px solid var(--input-button-border);
    border-radius: var(--input-border-radius);
    padding-top: var(--button-v-padding);
    padding-bottom: var(--button-v-padding);
}

form button, form input[type=button], form input::file-selector-button {
    font-size: var(--application-text-size-14);
    padding-left: var(--button-h-padding);
    padding-right: var(--button-h-padding);
}

textarea {
    font-family: "Atkinson Hyperlegible", Arial, Helvetica, sans-serif;
    font-size: var(--application-text-size-14);
    background: var(--input-background);
}

button:enabled:hover, button:enabled:focus-visible, input[type=button]:enabled:hover, input::file-selector-button:hover {
    color: var(--input-button-hover-text);
    background: var(--input-button-hover-background);
    border: 1px solid var(--input-button-hover-border);
}

button:disabled, input[type=button]:disabled {
    text-decoration: line-through;
    color: var(--input-button-disabled-text);
}

input[type=text]:focus-visible, select:focus-visible, textarea:focus-visible, button:focus-visible {
    outline: none;
}

form.modal {
    background: var(--application-background) ! important;
}

div.errors {
    position: absolute;
    z-index: 10000000;
    width: 100%;
}

ul.errors {
    list-style: none;
    margin: 0px;
    padding: var(--error-padding);
}

ul.errors li {
    border-radius: var(--error-border-radius);
    border: 1px solid var(--error-border);
    padding: var(--error-padding);
    margin: 0px;
    display: flex;
}

ul.errors li:not(:last-child) {
   margin-bottom: var(--error-padding);
}

ul.errors li div.flash-message {
    flex-grow: 1;
    margin: 0px;
    padding-top: var(--error-flash-padding);
}

ul.errors li button {
    background: var(--button-background);
    border: 1px solid var(--button-border);
    color: var(--button-text);
    border-radius: var(--button-border-radius);
}

ul.errors li button:hover {
    background: var(--button-hover-background);
    border: 1px solid var(--button-hover-border);
    color: var(--button-hover-text);
}

ul.errors li button.close {
    font-size: var(--error-button-text-size);
}

li.error {
    background: var(--error-error);
}

li.warning {
    background: var(--error-warning);
}

li.success {
    background: var(--error-success);
}

li.info {
    background: var(--error-info);
}

div.maskable {
    display: inline-block;
    background-color: currentColor;
    mask-size: contain;
    mask-repeat: no-repeat;
}

div.maskable.close-svg {
    width: 1.3em;
    height: 1.3em;
    margin-bottom: -0.25em;
    mask-image: url('close.svg');
}

div.maskable.search-svg {
    width: 1.3em;
    height: 1.3em;
    margin-bottom: -0.25em;
    mask-image: url('search.svg');
}

div.maskable.invite-svg {
    width: 1.3em;
    height: 1.3em;
    margin-bottom: -0.25em;
    mask-image: url('invite.svg');
}

div.maskable.edit-svg {
    width: 1.3em;
    height: 1.3em;
    margin-bottom: -0.25em;
    mask-image: url('edit.svg');
}

div.maskable.leave-svg {
    width: 1.3em;
    height: 1.3em;
    margin-bottom: -0.25em;
    mask-image: url('leave.svg');
}

div.maskable.logout-svg {
    width: 1.3em;
    height: 1.3em;
    margin-bottom: -0.25em;
    mask-image: url('logout.svg');
}

div.maskable.preview {
    width: 1.3em;
    height: 1.3em;
    margin-bottom: -0.25em;
    mask-image: url('preview.svg');
}

div.maskable.cancel {
    width: 1.3em;
    height: 1.3em;
    margin-bottom: -0.25em;
    mask-image: url('cancel.svg');
}

div.maskable.delete {
    width: 1.3em;
    height: 1.3em;
    margin-bottom: -0.25em;
    mask-image: url('delete.svg');
}

div.maskable.attachment-picker {
    width: 1.2em;
    height: 1.2em;
    margin-top: var(--attachment-picker-top);
    mask-image: url('attachment.svg');
    position: absolute;
    right: 1.4em;
}

div.maskable.back-button-svg {
    width: var(--nav-button-width);
    height: var(--nav-button-height);
    mask-image: url('back.svg');
}

div.maskable.info-button-svg {
    width: var(--nav-button-width);
    height: var(--nav-button-height);
    mask-image: url('info.svg');
}

div.maskable.message-visible {
    width: 1.2em;
    height: 1.2em;
    margin-top: var(--message-visible-top);
    mask-image: url('visible.svg');
    position: absolute;
    right: 2.6em;
}

div.maskable.message-sensitive {
    width: 1.2em;
    height: 1.2em;
    margin-top: var(--message-sensitive-top);
    mask-image: url('sensitive.svg');
    position: absolute;
    right: 2.6em;
}

div.maskable.attachment-visible {
    width: 1.2em;
    height: 1.2em;
    margin-bottom: -0.25em;
    mask-image: url('visible.svg');
}

div.maskable.attachment-sensitive {
    width: 1.2em;
    height: 1.2em;
    margin-bottom: -0.25em;
    mask-image: url('sensitive.svg');
}

div.attachment-picker.disabled {
    color: var(--input-button-disabled-text);
}

div.attachment-picker:hover:not(.disabled) {
    color: var(--attachment-picker-hover);
}

div.message-visibility:hover {
    color: var(--message-visibility-hover);
}

div.uploadpicker-container {
    display: flex;
    gap: var(--attachment-picker-padding);
    background: var(--attachment-picker-background);
    border: 1px solid var(--attachment-picker-border);
    padding: var(--attachment-picker-padding);
    overflow-x: scroll;
}

div.uploadpicker-container div.upload {
    position: relative;
}

div.uploadpicker-container div.upload > img {
    height: var(--attachment-picker-item-height);
}

div.uploadpicker-container div.upload div.delete-container {
    position: absolute;
    cursor: pointer;
    top: -0.35em;
    right: -0.35em;
    width: 1em;
    height: 1em;
    background: var(--attachment-picker-delete-background);
    color: var(--attachment-picker-delete-foreground);
    border: 2px solid var(--attachment-picker-delete-foreground);
    border-radius: 50%;
    display: flex;
}

div.uploadpicker-container div.upload div.alt-text-container {
    position: absolute;
    cursor: pointer;
    width: 2.3em;
    height: 1.5em;
    left: var(--attachment-picker-alt-text-left);
    bottom: var(--attachment-picker-alt-text-bottom);
    border-radius: var(--button-border-radius);
    background: var(--attachment-picker-alt-text-background);
    color: var(--attachment-picker-alt-text-missing-foreground);
    border: 2px solid var(--attachment-picker-alt-text-foreground);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: var(--application-text-size-12);
}

div.uploadpicker-container div.upload div.sensitive-container {
    position: absolute;
    cursor: pointer;
    width: 2.3em;
    height: 1.5em;
    left: var(--attachment-picker-visible-left);
    bottom: var(--attachment-picker-visible-bottom);
    border-radius: var(--button-border-radius);
    background: var(--attachment-picker-alt-text-background);
    color: var(--attachment-picker-alt-text-foreground);
    border: 2px solid var(--attachment-picker-alt-text-foreground);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--application-text-size-12);
}

div.sensitive-container div.attachment-visibility {
    font-size: var(--application-text-size-14);
    margin-top: var(--attachment-picker-visible-top);
}

div.uploadpicker-container div.upload div.alt-text-container.present {
    color: var(--attachment-picker-alt-text-foreground);
}

div.uploadpicker-container img {
    display: block;
}

div.container > div.menu {
    width: var(--menu-pane-width);
    background: var(--sidebar-background);
    color: var(--sidebar-text);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

div.menu > div.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--application-pane-padding);
    min-height: var(--header-height);
    max-height: var(--header-height);
    overflow: hidden;
    padding-top: var(--application-item-padding);
    padding-left: var(--application-pane-padding);
    padding-right: var(--application-pane-padding);
    padding-bottom: var(--application-item-padding);
    border-bottom: 1px solid var(--application-separator);
}

div.menu div.header img.icon {
    width: var(--icon-width);
    height: var(--icon-height);
    cursor: pointer;
}

div.menu div.header div.instance-title {
    cursor: pointer;
}

div.menu > div.rooms {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    gap: var(--application-item-padding);
    padding-top: var(--application-pane-padding);
    border-left: var(--application-pane-padding) solid var(--sidebar-background);
    border-right: var(--application-pane-padding) solid var(--sidebar-background);
    border-bottom: var(--application-pane-padding) solid var(--sidebar-background);
    overflow-y: auto;
}

div.menu > div.rooms.scroll {
    padding-right: var(--application-pane-padding);
}

div.rooms div.item, div.results div.item, div.occupants div.item {
    flex-direction: row;
    display: flex;
    padding: var(--application-item-padding);
    border-radius: var(--button-border-radius);
    cursor: default;
    border: 1px solid transparent;
    align-items: center;
}

div.rooms div.item.selected, div.occupants div.item.selected, div.results div.item:hover {
    background: var(--sidebar-hover-background);
    border: 1px solid var(--sidebar-hover-background);
}

div.rooms div.item:hover, div.occupants div.item:hover {
    border: 1px solid var(--sidebar-hover-background);
}

div.actions div.item img {
    margin-bottom: -0.25em;
    display: inline;
}

div.icon div.room-indicator {
    position: absolute;
    font-size: var(--application-text-size-14);
    top: var(--room-indicator-top);
    left: var(--room-indocator-left);
    width: var(--room-indicator-width);
    height: var(--room-indicator-height);
    border-radius: var(--room-indocator-border-radius);
    color: var(--roomindicator-text);
    background: var(--roomindicator-background);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center
}

div.icon div.badge.empty, div.back div.badge.empty {
    display: none;
}

div.item.faded {
    opacity: 65%;
}

div.rooms div.item div.icon, div.results div.item div.icon, div.occupants div.item div.icon {
    position: relative;
}

div.icon div.badge, div.back div.badge {
    position: absolute;
    top: var(--badge-top);
    left: var(--badge-left);
    width: var(--badge-width);
    height: var(--badge-height);
    border-radius: 50%;
    color: var(--badge-text);
    background: var(--badge-background);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center
}

div.badge > div.count {
    font-size: var(--badge-text-size);
    position: absolute;
    top: var(--badge-text-top);
    left: var(--badge-text-left);
}

div.rooms div.item div.icon img, div.results div.item div.icon img, div.occupants div.item div.icon img {
    background: var(--application-icon-background);
    display: block;
    width: var(--icon-width);
    height: var(--icon-height);
    margin: 0px;
}

div.rooms div.item div.name-wrapper, div.results div.item div.name-wrapper, div.occupants div.item div.name-wrapper {
    flex-grow: 1;
    height: 100%;
    padding-left: var(--application-item-padding);
    display: flex;
    font-size: var(--application-text-size-14);
    height: var(--pane-item-name-height);
    align-items: center;
}

div.name-wrapper div.name {
    max-height: var(--pane-item-name-height);
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
}

div.meta-wrapper span.name {
    cursor: pointer;
}

div.results div.item div.action-wrapper {
    height: 100%;
    display: flex;
    height: var(--icon-height);
    align-items: center;
}

div.results div.item div.action {
    border-radius: var(--button-border-radius);
    background: var(--action-background);
    color: var(--action-text);
    max-height: var(--icon-height);
    padding: var(--application-item-padding);
    font-size: var(--application-text-size-12);
}

div.results div.item div.action.grayed {
    color: var(--action-text-grayed);
    background: var(--action-background-grayed);
}

div.menu > div.actions, div.info > div.actions {
    display: flex;
    gap: var(--application-pane-padding);
    border-left: var(--application-pane-padding) solid var(--sidebar-background);
    border-right: var(--application-pane-padding) solid var(--sidebar-background);
    border-bottom: var(--application-pane-padding) solid var(--sidebar-background);
}

div.actions div.item {
    height: var(--pane-action-button-height);
    overflow: hidden;
    flex-grow: 1;
}

div.actions div.item button {
    background: var(--button-background);
    border: 1px solid var(--button-border);
    color: var(--button-text);
    border-radius: var(--button-border-radius);
    width: 100%;
    height: 100%;
    font-size: var(--application-text-size-12);
}

div.actions div.item button:hover, div.actions div.item button:focus-visible {
    background: var(--button-hover-background);
    border: 1px solid var(--button-hover-border);
    color: var(--button-hover-text);
}

div.container > div.chat {
    background: var(--conversation-background);
    color: var(--conversation-text);
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
    width: 0px;
    display: flex;
    flex-direction: column;
}

div.chat > div.top-info {
    background: var(--sidebar-background);
    border-bottom: 1px solid var(--application-separator);
    color: var(--sidebar-text);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--application-pane-padding);
    padding-top: var(--application-item-padding);
    padding-bottom: var(--application-item-padding);
    padding-left: var(--application-pane-padding);
    padding-right: var(--application-pane-padding);
    min-height: var(--header-height);
    max-height: var(--header-height);
    overflow: hidden;
}

div.top-info div.back, div.info div.back, div.top-info div.info {
    cursor: default;
    display: none;
    position: relative;
    margin-top: var(--nav-button-top-margin);
    margin-bottom: var(--nav-button-bottom-margin);
}

div.top-info div.icon {
    position: relative;
}

div.top-info div.icon img {
    background: var(--application-icon-background);
    display: block;
    width: var(--icon-width);
    height: var(--icon-height);
    margin: 0px;
}

div.top-info div.info-wrapper {
    height: var(--conversation-panel-height);
    align-items: center;
    display: flex;
}

div.top-info div.title {
    font-size: var(--application-text-size-16);
    max-height: var(--conversation-panel-height);
    margin-top: -0.125em;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
}

div.top-info div.topic {
    font-size: var(--application-text-size-12);
    max-height: var(--conversation-topic-max-height);
    margin-top: -0.125em;
    color: var(--conversation-topic);
    align-content: end;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
}

div.top-info img.emote, div.top-info img.emoji {
    height: 1em ! important;
    margin-bottom: -0.2em ! important;
}

div.top-info div.info {
    margin-left: auto;
}

div.chat > div.conversation-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

div.conversation div.scrolled-top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--message-load-more-height);
}

div.conversation > div.loading-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

div.conversation-wrapper > div.conversation {
    border-top: var(--application-pane-padding) solid var(--conversation-background);
    border-left: var(--application-pane-padding) solid var(--conversation-background);
    border-right: var(--application-pane-padding) solid var(--conversation-background);
    color: var(--conversation-text);
    display: flex;
    flex-direction: column;
    gap: var(--application-pane-padding);
}

div.chat > form.uploads {
    display: none;
}

div.chat > form.uploads input {
    display: none;
}

div.chat > form.actions {
    border: var(--application-pane-padding) solid var(--conversation-background);
    color: var(--conversation-text);
    display: flex;
    flex-direction: row;
    gap: var(--application-item-padding);
}

div.chat form.actions div.newmessage {
    flex-grow: 1;
    position: relative;
    display: inherit;
}

div.newmessage input {
    width: 100%;
    padding-right: var(--conversation-newmessage-icon-padding) ! important;
}

div.chat div.conversation div.item {
    display: flex;
    flex-direction: row;
    gap: var(--application-item-padding);
}

div.conversation div.item div.content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

div.conversation div.item div.meta-wrapper {
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
}

div.conversation div.item div.action-wrapper {
    display: inline;
}

div.conversation div.item span.name {
    font-size: var(--application-text-size-16);
    font-weight: bold;
}

div.conversation div.item span.timestamp {
    color: var(--conversation-timestamp);
    font-size: var(--application-text-size-12);
    padding-top: var(--message-timestamp-padding);
}

div.conversation div.item div.message {
    font-size: var(--application-text-size-14);
    overflow-wrap: break-word;
    word-break: break-word;
    position: relative;
}

div.conversation div.item div.message.sensitive {
    cursor: pointer;
    color: var(--conversation-spoiler);
    background: var(--conversation-spoiler);
    user-select: none;
}

div.conversation div.item div.message.sensitive img {
    opacity: 0%;
}

div.conversation div.item div.attachments a {
    overflow: hidden;
    position: relative;
}

div.conversation div.item div.attachments a div.blurred {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    left: 0px;
    top: 0px;
    align-items: center;
    justify-items: center;
}

div.attachments div.blurred div {
    color: var(--conversation-text);
}

div.conversation div.item div.attachments img.blurred {
    filter: blur(50px);
}

div.conversation div.item.combined div.icon {
    display: none;
}

div.conversation div.item.combined div.meta-wrapper {
    display: none;
}

div.conversation div.item.combined div.message {
    margin-left: var(--message-combined-left-margin);
    margin-top: var(--message-combined-text-top-margin)
}

div.conversation div.item.combined div.attachments, div.conversation div.item.combined div.reactions {
    margin-left: var(--message-combined-left-margin);
}

div.conversation div.item div.attachments {
    display: flex;
    gap: var(--message-attachment-padding);
    flex-wrap: wrap;
    margin-top: var(--message-combined-attachment-top-margin);
    position: relative;
}

div.conversation div.attachments img.attachment {
    display: block;
    max-width: 100%;
    height: auto;
}

div.conversation div.reactions {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.25em;
    gap: var(--application-item-padding);
}

div.conversation div.reactions:empty {
    display: none;
}

div.reactions button.reaction, div.reactions button.add-reaction {
    cursor: pointer;
    display: flex;
    gap: var(--application-item-padding);
    border: 1px solid var(--input-button-border);
    background: var(--input-button-background);
    border-radius: var(--input-border-radius);
    color: var(--input-button-text);
    padding: var(--application-item-padding);
    font-size: var(--application-text-size-12);
}

div.reactions button.add-reaction div.search-svg {
    margin-right: -0.2em;
}

div.reactions button.reaction.chosen {
    background: var(--conversation-selected-reaction-background);
}

div.reactions button.reaction:hover, div.reactions button.reaction:focus-visible,
div.reactions button.add-reaction:hover, div.reactions button.add-reaction:focus-visible {
    border: 1px solid var(--input-button-hover-border);
    background: var(--input-button-hover-background);
    color: var(--input-button-hover-text);
}

div.message.highlighted {
    background: var(--conversation-highlighted-background);
    padding-top: var(--message-highlighted-v-padding);
    padding-bottom: var(--message-highlighted-v-padding);
    padding-left: var(--message-highlighted-h-padding);
    border-left: 2px solid orange;
}

div.message div.reactions-popover, div.attachments div.reactions-popover {
    display: flex;
    flex-direction: row;
    font-size: var(--application-text-size-14);
    position: absolute;
    right: 0px;
}

div.reactions-popover div.reactions-controls {
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: 1px solid var(--input-button-border);
    background: var(--input-button-background);
    border-radius: var(--input-border-radius);
    padding: var(--application-item-padding);
    margin-left: 4px;
}

div.reactions-controls button.reaction, div.reactions-controls button.custom-reaction {
    font-size: var(--application-text-size-14);
    border: none;
}

div.reactions-controls button.reaction img {
    display: block;
    margin-bottom: 0.10em;
    opacity: initial ! important;
}

div.reactions-controls div.separator {
    width: 1px;
    border-right: 1px solid var(--input-button-border);
}

div.reactions-controls button.reaction:not(:last-child) {
    padding-right: var(--application-item-padding);
}

div.chat div.item div.icon img {
    background: var(--application-icon-background);
    display: block;
    width: var(--icon-width);
    height: var(--icon-height);
    margin: 0px;
}

div.icon.avatar img {
    border-radius: 50%;
}

div.icon.room img {
    border-radius: var(--room-icon-border-radius);
}

div.new-messages-alert {
    display: none;
    position: absolute;
    top: var(--conversation-newmessage-indicator-top);
    width: var(--conversation-newmessage-indicator-width);
    border-radius: var(--conversation-newmessage-indicator-border-radius);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background: var(--new-messages-background);
    color: var(--new-messages-text);
}

div.container > div.info {
    width: var(--info-pane-width);
    background: var(--sidebar-background);
    color: var(--sidebar-text);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

div.hidden {
    display: none ! important;
}

div.full {
    width: 100% ! important;
}

div.info > div.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: var(--header-height);
    max-height: var(--header-height);
    overflow: hidden;
    gap: var(--application-pane-padding);
    padding-top: var(--application-item-padding);
    padding-left: var(--application-pane-padding);
    padding-right: var(--application-pane-padding);
    padding-bottom: var(--application-item-padding);
    border-bottom: 1px solid var(--application-separator);
}

div.info > div.occupants {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    gap: var(--application-item-padding);
    overflow-y: auto;
    padding-top: var(--application-pane-padding);
    border-left: var(--application-pane-padding) solid var(--sidebar-background);
    border-right: var(--application-pane-padding) solid var(--sidebar-background);
    border-bottom: var(--application-pane-padding) solid var(--sidebar-background);
}

div.info > div.occupants.scroll {
    padding-right: var(--application-pane-padding);
}

div.occupants div.item {
    flex-direction: row;
    display: flex;
    padding: var(--application-item-padding);
    border-radius: var(--button-border-radius);
    cursor: default;
    border: 1px solid transparent;
}

div.occupants div.header, div.rooms div.header {
    text-transform: uppercase;
    font-size: var(--application-text-size-12);
}

div.occupants div.header:not(:first-child), div.rooms div.header:not(:first-child) {
    padding-top: var(--application-pane-padding);
}

div.search, div.warning, div.information {
    display: flex;
    flex-direction: column;
    gap: var(--modal-item-padding);
}

div.warning, div.information {
    height: var(--modal-fixed-height);
}

div.search {
    height: var(--search-fixed-height);
}

div.invite-wrapper {
    padding-bottom: var(--modal-item-padding);
}

div.invite-link-wrapper {
    display: flex;
    justify-content: center;
}

div.invite-link-wrapper div.invite-link {
    font-family: monospace;
    border-radius: var(--button-border-radius);
    padding: var(--button-h-padding);
    border: 1px solid var(--input-button-border)
}

div.invite-wrapper span.invite-details, div.invited-by-wrapper span.invite-details {
    font-weight: bold;
}

div.information div.info-header, div.information div.info-subheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--application-pane-padding);
}

div.information div.info-subheader {
    font-size: var(--application-text-size-14);
}

div.information div.info-header img.icon {
    width: var(--icon-width);
    height: var(--icon-height);
}

div.search > div.actions,
div.warning > div.actions,
div.information > div.actions,
div.chatdetails > div.actions,
div.editprofile > div.actions,
div.editpreferences > div.actions,
div.alt-text > div.actions
{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: var(--modal-item-padding);
}

div.preference input.notification {
    padding-bottom: var(--modal-item-padding);
}

div.preference div.explain, div.chatdetails div.explain {
    color: var(--application-subtle-text);
    padding-bottom: var(--application-item-padding);
}

div.warning div.warning-text, div.information div.information-text {
    height: calc(var(--modal-fixed-height) - var(--modal-item-padding) - var(--pane-action-button-height));
    flex-grow: 1;
    overflow-y: auto;
}

div.search > div.actions input.search {
    flex-grow: 1;
}

div.searchbox input {
    width: 100%;
}

div.search > div.results {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    padding-right: var(--modal-item-padding);
}

div.chatdetails, div.editprofile, div.editpreferences {
    display: flex;
    flex-direction: column;
    gap: var(--modal-item-padding);
}

div.chatdetails > div.icon-wrapper, div.editprofile > div.icon-wrapper {
    background: var(--edit-icon-background);
    color: var(--edit-icon-text);
    border-radius: var(--button-border-radius);
    padding: var(--modal-item-padding);
    gap: var(--modal-item-padding);
    display: flex;
    flex-direction: column;
}

div.chatdetails div.icon img, div.editprofile div.icon img {
    background: var(--application-icon-background);
    display: block;
    width: var(--big-icon-width);
    height: var(--big-icon-height);
    margin: 0px;
}

div.profile > div.icon-wrapper {
    border-radius: var(--button-border-radius);
    padding: var(--modal-item-padding);
    gap: var(--modal-item-padding);
    display: flex;
    flex-direction: column;
}

div.profile div.icon img {
    display: block;
    width: var(--big-icon-width);
    height: var(--big-icon-height);
    margin: 0px;
}

div.profile div.nickname-wrapper,
div.profile div.username-wrapper,
div.profile div.actions-wrapper,
div.profile div.admin-wrapper {
    display: flex;
    justify-content: center;
    gap: var(--modal-item-padding);
}

div.profile div.actions-wrapper, div.profile div.admin-wrapper {
    margin-top: var(--modal-item-padding);
    margin-bottom: var(--modal-item-padding);
}

div.search div.actions-wrapper {
    display: flex;
    gap: var(--modal-item-padding);
}

div.profile div.nickname-wrapper div.nickname {
    font-weight: bold;
}

div.profile div.username-wrapper div.username {
    font-size: var(--application-text-size-14);
}

div.profile div.invited-by-wrapper {
    display: flex;
    justify-content: center;
    font-size: var(--application-text-size-14);
}

div.profile hr {
    border: none;
    height: 1px;
    color: var(--application-subtle-text);
    background-color: var(--application-subtle-text);
}

div.profile div.about {
    margin-top: var(--modal-item-padding);
    white-space: pre-wrap;
}

div.profile div.about.empty {
    font-style: italic;
}

div.chatdetails div.details, div.editprofile div.details {
    text-align: center;
}

div.chatdetails div.icon, div.chatdetails div.picker, div.editprofile div.icon, div.profile div.icon, div.editprofile div.picker {
    display: flex;
    justify-content: center;
}

div.chatdetails dl, div.editprofile dl, div.editpreferences dl, div.alt-text dl {
    margin: 0px;
}

div.chatdetails dt, div.editprofile dt, div.editpreferences dt, div.alt-text dt {
    font-size: var(--application-text-size-14);
}

div.editpreferences h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.chatdetails dl.name dd,
div.chatdetails dl.topic dd,
div.editprofile dl.name dd,
div.editprofile dl.about dd,
div.alt-text dd {
    display: flex;
    margin-left: 0px;
}

div.chatdetails dl.moderation dd, div.chatdetails dl.autojoin dd {
    margin-left: 0px;
}

div.chatdetails dl.name input, div.chatdetails dl.topic input, div.editprofile dl.name input {
    width: 100%;
}

div.editprofile dl.about textarea {
    width: 100%;
    height: 8em;
}

div.alt-text div.alt-text-image {
    display: flex;
    justify-content: center;
    padding-bottom: var(--application-pane-padding);
}

div.alt-text div.alt-text-text {
    padding-bottom: var(--application-pane-padding);
}

div.alt-text-image img {
    max-height: var(--attachment-picker-alt-text-image-size);
    max-width: 100%;
    width: auto;
}

div.alt-text-text textarea {
    width: 100%;
    height: 8em;
}

div.info > div.title-wrapper {
    font-size: var(--application-text-size-14);
    gap: var(--application-item-padding);
}

div.title-wrapper span.title {
    font-weight: bold;
}

div.title-wrapper span.desc {
    flex-grow: 1
}

img.emote, img.emoji {
    display: inline-block;
    max-width: var(--emoji-max-width);
    height: var(--emoji-height);
    width: auto;
}

div.item img.emote, div.item img.emoji {
    margin-bottom: -0.25em;
}

img.emote-big, img.emoji-big {
    display: inline-block;
    max-width: var(--big-emoji-max-width);
    height: var(--big-emoji-height);
    width: auto;
}

div.emoji-search {
    font-size: var(--application-text-size-14);
    position: absolute;
    right: 0.3em;
    padding-top: var(--emoji-search-picker-top);
    filter: grayscale(100%);
}

div.emoji-search:hover, div.emoji-search.opened {
    filter: none;
}

.name-highlight {
    font-weight: bold;
}

.name-link {
    cursor: pointer;
}

div.newseparator > div.content-wrapper {
    display: flex;
    flex-direction: row;
}

div.newseparator div.newline {
    border-top: 1px solid var(--conversation-text);
    flex-grow: 1;
    margin-top: 0.75em;
    margin-bottom: -1.5em;
}

div.newseparator div.newmessage {
    padding: var(--application-item-padding);
}
